$primaryColor: rgb(64,26,45);
$secondaryColor: #FF69B4;

$brightColor: #fff;

$horizontalPadding: 40px;
$verticalPadding: 20px;

$borderRadius: 7px;

$linearGradient: linear-gradient(to right, rgba(64,26,45,1) 0%,rgba(64,26,45,0) 70%);

$primaryFont: 'Amatic SC', cursive;

$mobile: 480px
